<div class="daily-start display-column">
  <div class="mood">
    <img src="/images/perfect_mood.svg" alt="">
    <h2>Mood</h2>
  </div>
  <div class="speed">
    <img src="/images/speedometer.svg" alt="">
    <h2>Learning Speed</h2>
  </div>
</div>