<div class="daily-mood display-column hidden">
  <div class="mood">
    <img src="/images/perfect_mood.svg" alt="">
    <h2>Mood</h2>
  </div>
  <div class="mood-selector display-column">
    <div class="mood-icons display-row">
      <img class="js-perfect" src="/images/perfect.svg" alt="">
      <img class="js-good" src="/images/good.svg" alt="">
      <img class="js-bad" src="/images/bad.svg" alt="">
      <img class="js-kill_me" src="/images/kill_me.svg" alt="">
    </div>
    <p>Please select</p>
  </div>
</div>