<div class="daily-start display-column hidden">
  <div class="js-mood-start">
    <img class="js-mood-start" src="/images/perfect_mood.svg" alt="">
    <h2 class="js-mood-start">Mood</h2>
  </div>
  <div class="speed display-column">
    <img class="js-speed" src="/images/speedometer.svg" alt="">
    <h2 class="js-speed">Learning Speed</h2>
  </div>
</div>