<div class="daily-start display-column">
  <div class="mood">
    <img class="js-mood" src="/images/perfect_mood.svg" alt="">
    <h2 class="js-mood">Mood</h2>
  </div>
  <div class="speed display-column">
    <img clas="js-speed" src="/images/speedometer.svg" alt="">
    <h2 class="js-speed">Learning Speed</h2>
  </div>
</div>