<header class="header display-row" data-module-header>
  <div class="changer">
    <button class="daily-changer active-btn js-changer">Daily</button>
    <button class="overview-changer js-changer">Overview</button>
  </div>
  <img src="/images/user_icon.svg" alt="">
</header>