<section class="login-screen">
  <h1>Mood App</h1>
  <section class="section__inputs">
    <input type="text" placeholder="name" class="input-login input-name display-none">

    <input type="password" placeholder="password" class="input-login input-password display-none">

    <input type="password" placeholder="confirm password" class="confirm-password display-none">

  </section>
  <section class="section__buttons">
    <button class="login">
      Login
    </button>
    <button class="register">
      Register
    </button>
  </section>
</section>