<div class="overview">
  <div class="display-column">
    <section class="mood-stats display-row">
      <div class="mood-perfect display-column">
        <img src="/images/perfect.svg" alt="">
        <p class="count js-count-perfect">x / x</p>
      </div>
      <div class="mood-good display-column">
        <img class="js-good" src="/images/good.svg" alt="">
        <p class="count js-count-good">x / x</p>
      </div>
      <div class="mood-bad display-column">
        <img class="js-bad" src="/images/bad.svg" alt="">
        <p class="count js-count-bad">x / x</p>
      </div>
      <div class="mood-kill-me display-column">
        <img class="js-kill_me" src="/images/kill_me.svg" alt="">
        <p class="count js-count-killme">x / x</p>
      </div>
    </section>
    <section class="speed-stats display-column">
      <div class="single-speed-stat display-row">
        <img src="/images/speed-fast.svg" alt="">
        <div class="speed-text">
          <p class="description">Too fast</p>
          <p class="count js-count-fast">x / x</p>
        </div>
      </div>
      <div class="single-speed-stat display-row">
        <img src="/images/speed-perfect.svg" alt="">
        <div class="speed-text">
          <p class="description">Perfect</p>
          <p class="count js-count-fast">x / x</p>
        </div>
      </div>
      <div class="single-speed-stat display-row">
        <img src="/images/speed-slow.svg" alt="">
        <div class="speed-text">
          <p class="description">Too slow</p>
          <p class="count js-count-fast">x / x</p>
        </div>
      </div>
    </section>
  </div>

</div>