* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #f59d0c;
}

h1,
h2,
p {
  text-align: center;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.8rem;
}

button {
  color: #9b9b9b;
}

.display-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.display-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
