* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #f59d0c; }

h1,
h2,
p {
  text-align: center; }

h2 {
  font-size: 2rem; }

p {
  font-size: 1.8rem; }

button {
  color: #9b9b9b; }

.display-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.display-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.hidden,
[hidden] {
  display: none !important; }

.header {
  height: 15vh; }

.changer {
  display: flex; }

button {
  background: white;
  border: 1px solid #979797;
  width: 9rem;
  padding: 0.8rem 0;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #9b9b9b; }
  button:focus {
    outline: none; }

.daily-changer {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px; }

.overview-changer {
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; }

.active-btn {
  color: white;
  background: #f59d0c; }

.user-logout {
  border: 1px #9b9b9b solid;
  padding: 5px 10px; }

.logout {
  transform: translateY(50px) translateX(-50px); }

.daily-start,
.daily-mood,
.daily-speed {
  height: 75vh;
  background: white; }

.mood-selector {
  width: 100%;
  height: 40%; }

.mood-icons {
  width: 90%; }

p {
  margin-top: 10%; }

.speed-btn {
  border: none;
  position: absolute;
  font-size: 1.5rem; }

.speed-perfect {
  top: 35%;
  background: none; }
  .speed-perfect::after {
    content: '';
    height: 100px;
    width: 1px;
    position: absolute;
    background: #9b9b9b;
    top: 50px;
    left: 72px; }

.speed-slow {
  top: 45%;
  left: 1%;
  background: none; }
  .speed-slow::after {
    content: '';
    height: 90px;
    width: 1px;
    position: absolute;
    background: #9b9b9b;
    top: 50px;
    left: 75px;
    transform: rotate(-20deg); }

.speed-fast {
  top: 45%;
  left: 60%;
  background: none; }
  .speed-fast::after {
    content: '';
    height: 90px;
    width: 1px;
    position: absolute;
    background: #9b9b9b;
    top: 50px;
    left: 70px;
    transform: rotate(20deg); }

svg {
  margin: auto 0 5% 0; }

.overview {
  height: 75vh;
  background: white; }

.mood-stats,
.speed-stats {
  width: 100%; }

.mood-stats {
  height: 20vh;
  padding-top: 5%; }

.mood-stats p {
  margin-top: 20%; }

.speed-stats {
  height: 55vh;
  padding-bottom: 5%; }

.single-speed-stat {
  width: 100%; }

.speed-stats p {
  margin: 0;
  color: #9b9b9b;
  text-align: left; }

.count {
  color: #9b9b9b;
  font-size: 1.2rem; }

.description {
  font-size: 1.5rem;
  font-weight: bold; }

.speed-text {
  width: 50%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserat', sans-serif;
  height: 100vh; }

.login-bg {
  background: url("/images/wood-min.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat; }

h1 {
  color: #f59d0c;
  font-size: 300%; }

.section__buttons {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 3; }

.section__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: relative; }

.login {
  font-size: 200%;
  color: #f59d0c;
  border: 2px solid #fff8e5;
  width: 270px;
  padding: 10px 20px;
  background: none;
  margin-bottom: 50px;
  border-radius: 3px;
  z-index: 3; }

.register {
  font-size: 200%;
  color: #f59d0c;
  border: 2px solid #fff8e5;
  width: 270px;
  padding: 10px 20px;
  background: none;
  margin-bottom: 50px;
  border-radius: 3px;
  z-index: 3; }

.input-name {
  color: #f59d0c;
  font-size: 150%;
  border: none;
  border-bottom: 2px solid #fff8e5;
  background: none;
  margin: 20px; }

::placeholder {
  color: rgba(245, 156, 12, 0.815);
  font-style: italic; }

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0; }

texrarea:active,
input:focus {
  outline: none;
  background: rgba(245, 156, 12, 0.3);
  color: white; }

.input-password {
  color: #f59d0c;
  font-size: 150%;
  border: none;
  border-bottom: 2px solid #fff8e5;
  background: none;
  margin: 20px; }

.confirm-password {
  color: #f59d0c;
  font-size: 150%;
  border: none;
  border-bottom: 2px solid #fff8e5;
  background: none;
  margin: 20px; }

.display-none {
  display: none; }

.transform-translate {
  animation: transformTranslate 1s forwards; }

@keyframes transformTranslate {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(25px); } }

/*# sourceMappingURL=style.css.map */